In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#! pip install mysql
! pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247947 sha256=319a00561ec7d53dfd971938d75cb5ee4fe41b8956ee044f0e2737b110dcb907
  Stored in directory: c:\users\odepj\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
df=pd.read_csv('population.csv', sep=',')

df.head()

   id    pop                        loc         city  X_id state
0   1  15338  [ -72.622739 , 42.070206]       AGAWAM  1001    MA
1   2  36963   [ -72.51565 , 42.377017]      CUSHMAN  1002    MA
2   3   4546  [ -72.108354 , 42.409698]        BARRE  1005    MA
3   4  10579  [ -72.410953 , 42.275103]  BELCHERTOWN  1007    MA
4   5   1240  [ -72.936114 , 42.182949]    BLANDFORD  1008    MA

In [6]:
# create db first in MySQL
engine = create_engine('mysql+mysqlconnector://root:admin@localhost/zipcode')

In [7]:
df.to_sql(name='populationOld',con=engine,if_exists='fail',index=False)

ValueError: Table 'populationOld' already exists.